/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.bg-purple {
    background-color: #7749F8 !important;
}

.center {
    display: flex;
    justify-content: center;
}

.dots {
    position: absolute;
    left: 83.96%;
    right: 15.84%;
    top: 26.6%;
    bottom: 73.06%;
    
    
}

.header {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 166px;

    position: relative;
    width: 100%;
    height: 6%;
    left: 0px;
    top: 0px;
}